<form class="modal-body form-horizontal" ng-submit="modalOptions.ok()">
    <div class="form-group">
        <label for="inputCreationName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputCreationName" ng-model="data.name">
        </div>
    </div>
</form>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="modalOptions.ok()">OK</button>
    <button class="btn btn-warning" ng-click="modalOptions.cancel()">Cancel</button>
</div>
