<div >
    <p>
        This application is a <b>home made console for WildFly</b>. Don't expect too much, it's basically a proof of concept.
        The source code is available on <a href="https://github.com/hasalex/ng-fly">github</a>.
    </p>
    <p>
        It works with CORS but needs some additional setup.
    </p>
    <ul>
        <li>
            With WildFly 8.0 or 8.1, it doesn't work. Move to a more recent version.
        </li>
        <li>
            The WildFly 8.2 management doesn't support CORS. The workaround is to use a reverse proxy between the browser and WildFly Management interface.
            See the <a href="https://github.com/hasalex/ng-fly/blob/master/README.md#apache-configuration">documentation</a> for an example of Apache httpd configuration.
        </li>
        <li>
            With WildFly 9 or further, you just have to enable CORS on the management interface.
        </li>
    </ul>

    <p>
        How to enable CORS with jboss-cli :
    </p>
    <pre>
cd /core-service=management/management-interface=http-interface
:write-attribute(name=allowed-origins, value=["http://localhost:8888"])
/:reload
    </pre>

</div>
