<form class="form-horizontal" role="form" ng-model-options="{ updateOn: 'blur' }">

    <div class="form-group">
        <label class="col-sm-3 control-label">Driver</label>
        <div class="col-sm-9">
            <select id="inputName" class="form-control"
                    ng-model="management.name"
                    ng-model-options="{ updateOn: 'default' }"
                    ng-options="key for key in management.names"
                    ng-change="management.select()">
                <option value="">-- Select a Driver--</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="inputDriverModuleName" class="col-sm-3 control-label">Module Name</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputDriverModuleName" ng-model="management.resource['driver-module-name']"
                   ng-disabled="management.name"
                   ng-change="management.save('driver-module-name')">
        </div>
    </div>

    <div class="form-group">
        <label for="inputModuleSlot" class="col-sm-3 control-label">Module Slot</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputModuleSlot" ng-model="management.resource['module-slot']"
                   ng-disabled="management.name"
                   ng-change="management.save('module-slot')">
        </div>
    </div>

    <div class="form-group">
        <label for="inputDatasourceClassName" class="col-sm-3 control-label">DataSource Class</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputDatasourceClassName" ng-model="management.resource['driver-datasource-class-name']"
                   ng-disabled="management.name"
                   ng-change="management.save('driver-datasource-class-name')">
        </div>
    </div>

    <div class="form-group">
        <label for="inputXaDatasourceClassName" class="col-sm-3 control-label">Xa DataSource Class</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputXaDatasourceClassName" ng-model="management.resource['driver-xa-datasource-class-name']"
                   ng-disabled="management.name"
                   ng-change="management.save('driver-xa-datasource-class-name')">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
            <button class="btn btn-primary" id="buttonCreate"
                    ng-hide="management.name"
                    ng-click="management.openModal(create)">Create</button>
            <button class="btn btn-primary" id="buttonDuplicate"
                    ng-show="management.name"
                    ng-click="management.duplicate()">Duplicate</button>
            <button class="btn btn-primary" id="buttonRemove"
                    ng-click="management.remove()">Remove</button>
        </div>
    </div>

    <div class="col-sm-12">
        <alert type="danger" close="management.closeAlert()" ng-show="management.current.message" >{{management.current.message}}</alert>
    </div>

</form>
