<div>
    <form class="form-horizontal" role="form" ng-model-options="{ updateOn: 'blur' }">

        <div class="form-group">
            <label class="col-sm-3 control-label">Driver</label>
            <div class="col-sm-6">
                <select id="inputName" class="form-control"
                        ng-model="name"
                        ng-model-options="{ updateOn: 'default' }"
                        ng-options="key for key in names"
                        ng-change="load()">
                    <option value="">-- Select a Driver--</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="inputDriverModuleName" class="col-sm-3 control-label">Module Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="inputDriverModuleName" ng-model="resource['driver-module-name']"
                       ng-disabled="name"
                       ng-change="save('driver-module-name')">
            </div>
        </div>

        <div class="form-group">
            <label for="inputModuleSlot" class="col-sm-3 control-label">Module Slot</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="inputModuleSlot" ng-model="resource['module-slot']"
                       ng-disabled="name"
                       ng-change="save('module-slot')">
            </div>
        </div>

        <div class="form-group">
            <label for="inputDatasourceClassName" class="col-sm-3 control-label">DataSource Class</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="inputDatasourceClassName" ng-model="resource['driver-datasource-class-name']"
                       ng-disabled="name"
                       ng-change="save('driver-datasource-class-name')">
            </div>
        </div>

        <div class="form-group">
            <label for="inputXaDatasourceClassName" class="col-sm-3 control-label">Xa DataSource Class</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="inputXaDatasourceClassName" ng-model="resource['driver-xa-datasource-class-name']"
                       ng-disabled="name"
                       ng-change="save('driver-xa-datasource-class-name')">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <button class="btn btn-primary" id="buttonReload"
                        ng-show="processState == 'reload-required'"
                        ng-click="reload()">Reload</button>
                <button class="btn btn-primary" id="buttonCreate"
                        ng-hide="name"
                        ng-click="open()">Create</button>
                <button class="btn btn-primary" id="buttonDuplicate"
                        ng-show="name"
                        ng-click="duplicate()">Duplicate</button>
                <button class="btn btn-primary" id="buttonRemove"
                        ng-click="remove()">Remove</button>
            </div>
        </div>

        <div class="col-sm-9">
            <alert type="danger" close="closeAlert()" ng-show="error" >{{error}}</alert>
        </div>

    </form>
</div>
