<form class="form-horizontal" role="form" ng-model-options="{ updateOn: 'blur' }">

    <div class="form-group">
        <label class="col-sm-3 control-label">Cluster</label>
        <div class="col-sm-9">
            <select id="inputName" class="form-control"
                    ng-model="management.name"
                    ng-model-options="{ updateOn: 'default' }"
                    ng-options="key for key in management.names"
                    ng-change="select()">
                <option value="">-- Select a Cluster--</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="inputListenAddess" class="col-sm-3 control-label">listen-address</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputListenAddess"
                   ng-model="management.resource['listen-address']" wf-expression
                   ng-change="management.save('listen-address')">
        </div>
    </div>

    <div class="form-group">
        <label for="rpcPort" class="col-sm-3 control-label">rpc-port</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="rpcPort"
                   ng-model="management.resource['rpc-port']"
                   ng-change="management.save('rpc-port')">
        </div>
        <label for="nativeTransportPort" class="col-sm-3 control-label">native-transport-port</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="nativeTransportPort"
                   ng-model="management.resource['native-transport-port']"
                   ng-change="management.save('native-transport-port')">
        </div>
    </div>

    <div class="form-group">
        <label for="inputStartRpc" class="col-sm-3 control-label">start-rpc</label>
        <div class="col-sm-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="inputStartRpc"
                           ng-model="management.resource['start-rpc']"
                           ng-model-options="{ updateOn: 'default' }"
                           ng-change="management.save('start-rpc')">
                </label>
            </div>
        </div>
        <label for="inputStartNativeTransport" class="col-sm-3 control-label">start-native-transport</label>
        <div class="col-sm-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="inputStartNativeTransport"
                           ng-model="management.resource['start-native-transport']"
                           ng-model-options="{ updateOn: 'default' }"
                           ng-change="management.save('start-native-transport')">
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="commitlogDirectory" class="col-sm-3 control-label">commitlog-directory</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="commitlogDirectory"
                   ng-model="management.resource['commitlog-directory']" wf-expression
                   ng-change="management.save('commitlog-directory')">
        </div>
    </div>

    <div class="form-group">
        <label for="dataFileDirectories" class="col-sm-3 control-label">data-file-directories</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="dataFileDirectories"
                   ng-model="management.resource['data-file-directories']" wf-expression
                   ng-change="management.save('data-file-directories')">
        </div>
    </div>

    <div class="form-group">
        <label for="savedCacheDirectory" class="col-sm-3 control-label">saved-caches-directory</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="savedCacheDirectory"
                   ng-model="management.resource['saved-caches-directory']" wf-expression
                   ng-change="management.save('saved-caches-directory')">
        </div>
    </div>


    <div class="form-group" ng-show="management.name">
        <label class="col-sm-3 control-label">Keyspaces</label>
        <div class="col-sm-9 btn-group btn-group-vertical" role="group">
            <button type="button" ng-repeat="keyspaceName in keyspaceNames" ng-click="selectKeyspace(keyspaceName)"
                   class="btn btn-default" ng-class="active(keyspaceName)" >{{keyspaceName}}</button>
            <div style="margin-top: 2px">
                <button type="button" class="btn btn-primary btn-sm" ng-click="addKeyspace()">+</button>
                <button type="button" class="btn btn-primary btn-sm" ng-click="removeKeyspace(keyspaceName)" ng-show="keyspaceName">-</button>
            </div>

            <div class="panel panel-default" ng-if="keyspace">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="keyspaceName" class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="keyspaceName"
                                   ng-disabled="keyspaceName"
                                   ng-model="keyspace.name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="keyspaceClass" class="col-sm-3 control-label">Class</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="keyspaceClass"
                                   ng-disabled="keyspaceName"
                                   ng-model="keyspace.class">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="keyspaceReplicationFactor" class="col-sm-3 control-label">Replication Factor</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="keyspaceReplicationFactor"
                                   ng-disabled="keyspaceName"
                                   ng-model="keyspace.replication_factor">
                        </div>
                    </div>

                    <div class="form-group" ng-show="keyspace != null && keyspaceName == null">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                           <button class="btn btn-primary" id="buttonCreateKeyspace"
                                   ng-click="createKeyspace()">Create Keyspace</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
            <!--
            <button class="btn btn-primary" id="buttonCreate"
                    ng-hide="management.name"
                    ng-click="management.openModal(create)">Create</button>
            <button class="btn btn-primary" id="buttonDuplicate"
                    ng-show="management.name"
                    ng-click="management.duplicate()">Duplicate</button>
            <button class="btn btn-primary" id="buttonRemove"
                    ng-click="management.remove()">Remove</button>
            -->
        </div>
    </div>

    <div class="col-sm-12">
        <alert type="danger" close="management.closeAlert()" ng-show="management.current.message" >{{management.current.message}}</alert>
    </div>

</form>
