<div>
    <form class="form-horizontal" role="form" ng-model-options="{ updateOn: 'blur', getterSetter: true }">

        <div class="form-group">
            <label class="col-sm-3 control-label">Security Domain</label>
            <div class="col-sm-6">
                <select id="inputName" class="form-control"
                        ng-model="name"
                        ng-model-options="{ updateOn: 'default' }"
                        ng-options="key for key in names"
                        ng-change="load()">
                    <option value="">-- Select a Security Domain--</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="inputCacheType" class="col-sm-3 control-label">Cache Type</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="inputCacheType"
                       ng-model="resource['cache-type']"
                       ng-change="save('cache-type')" >
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Login Modules</label>
            <div class="col-sm-6">
                <ul class="list-group">
                    <li ng-repeat="loginModule in loginModules" ng-click="select(loginModule)"
                        class="list-group-item" ng-class="active(loginModule)">{{loginModule.code}}</li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default" ng-if="loginModule">
            <div class="panel-body">
                <div class="form-group">
                    <label for="inputLoginModuleCode" class="col-sm-3 control-label">Code</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputLoginModuleCode"
                               ng-model="loginModule.code" >
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Flag</label>
                    <div class="col-sm-6">
                        <div class="btn-group">
                            <label class="btn btn-default" ng-model="loginModule.flag" btn-radio="'required'">required</label>
                            <label class="btn btn-default" ng-model="loginModule.flag" btn-radio="'requisite'">requisite</label>
                            <label class="btn btn-default" ng-model="loginModule.flag" btn-radio="'sufficient'">sufficient</label>
                            <label class="btn btn-default" ng-model="loginModule.flag" btn-radio="'optional'">optional</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputLoginModuleModule" class="col-sm-3 control-label">Module</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputLoginModuleModule"
                               ng-model="loginModule.module" >
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Module Options</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control"
                               ng-model="'usersProperties'" >
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control"
                               ng-model="loginModule['module-options'].x_usersProperties" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control"
                               ng-model="'rolesProperties'" >
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control"
                               ng-model="loginModule['module-options'].x_rolesProperties" >
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group col-sm-9">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <button class="btn btn-primary" id="buttonReload"
                        ng-show="processState == 'reload-required'"
                        ng-click="reload()">Reload</button>
                <button class="btn btn-primary" id="buttonCreate"
                        ng-hide="name"
                        ng-click="open()">Create</button>
                <button class="btn btn-primary" id="buttonDuplicate"
                        ng-show="name"
                        ng-click="duplicate()">Duplicate</button>
                <button class="btn btn-primary" id="buttonRemove"
                        ng-click="remove()">Remove</button>
            </div>
        </div>

        <div class="col-sm-9">
            <alert type="danger" close="closeAlert()" ng-show="error" >{{error}}</alert>
        </div>

    </form>
</div>
