<div>
    <form class="form-horizontal" role="form" ng-model-options="{ updateOn: 'blur', getterSetter: true }">

        <div class="form-group">
            <label class="col-sm-3 control-label">Security Domain</label>
            <div class="col-sm-6">
                <select id="inputName" class="form-control"
                        ng-model="management.name"
                        ng-model-options="{ updateOn: 'default' }"
                        ng-options="key for key in management.names"
                        ng-change="select()">
                    <option value="">-- Select a Security Domain--</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="inputCacheType" class="col-sm-3 control-label">Cache Type</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="inputCacheType"
                       ng-model="management.resource['cache-type']"
                       ng-change="management.save('cache-type')" >
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Login Modules</label>
            <div class="col-sm-6">
                <ul class="list-group">
                    <li ng-repeat="loginModule in loginModules" ng-click="selectLoginModule(loginModule)"
                        class="list-group-item" ng-class="active(loginModule)">{{loginModule.code}}</li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default" ng-if="loginModule">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Flag</label>
                    <div class="col-sm-6">
                        <div class="btn-group">
                            <label class="btn btn-default" ng-model="loginModule.flag" btn-radio="'required'" ng-click="selectFlag('required')">required</label>
                            <label class="btn btn-default" ng-model="loginModule.flag" btn-radio="'requisite'" ng-click="selectFlag('requisite')">requisite</label>
                            <label class="btn btn-default" ng-model="loginModule.flag" btn-radio="'sufficient'" ng-click="selectFlag('sufficient')">sufficient</label>
                            <label class="btn btn-default" ng-model="loginModule.flag" btn-radio="'optional'" ng-click="selectFlag('optional')">optional</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputLoginModuleModule" class="col-sm-3 control-label">Module</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputLoginModuleModule"
                               ng-model="loginModule.module" ng-change="saveLoginModuleAttr('module')">
                    </div>
                </div>

                <div class="form-group" ng-repeat="(key, value) in loginModule['module-options']">
                    <label class="col-sm-3 control-label"><span ng-if="$first">Module Option</span></label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control"
                               ng-model="key" ng-readonly="true">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control"
                               ng-model="value" wf-expression  ng-readonly="true">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group col-sm-9">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <button class="btn btn-primary" id="buttonReload"
                        ng-show="management.processState == 'reload-required'"
                        ng-click="management.reload()">Reload</button>
                <button class="btn btn-primary" id="buttonCreate"
                        ng-hide="name"
                        ng-click="management.openModal(create)">Create</button>
                <button class="btn btn-primary" id="buttonDuplicate"
                        ng-show="name"
                        ng-click="management.duplicate()">Duplicate</button>
                <button class="btn btn-primary" id="buttonRemove"
                        ng-click="management.remove()">Remove</button>
            </div>
        </div>

        <div class="col-sm-9">
            <alert type="danger" close="management.closeAlert()" ng-show="management.message" >{{management.message}}</alert>
        </div>

    </form>
</div>
